<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\PsiBot.Service.exe" stdoutLogEnabled="true" stdoutLogFile="C:\inetpub\logs\LogFiles\ma_stdout\stdout" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 9b8e205a-0ccb-4b3c-aed5-b5aefcf1fbc7-->